h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:200;
    font-style: oblique;
    color:white;
  }

  .container-lg{
    padding-right: 0; 
    padding-left: 0;
    
  }

  .img-fluid{
   position: absolute;
   width: 100vw;
   height: 100vh;
   object-position: center;
   object-fit: fill;
   
  }

  #form{
    position: relative;
  }

  
